<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoopDeLoop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoopDeLoop.Properties.Settings>
            <setting name="SolverType" serializeAs="String">
                <value>Iterative</value>
            </setting>
            <setting name="SimpleSolverDepth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoMove" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowObviousFalseMoves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsiderMultipleLoops" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseICinAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseICinSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoardFont" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
            <setting name="LastVersionSave" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="VisualSolve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsiderMultipleLoopsInAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateLengthFraction" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RatingCodes" serializeAs="String">
                <value>G,SI,S</value>
            </setting>
            <setting name="UseColoringInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseColoringInAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimpleSolverRecurseDepth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseCellColoringInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCellColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCellColorsAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCellColoringInAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDerivedColoringInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMergeInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeRestrictsInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeRestrictsInAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateBoringFraction" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UseCellPairsInAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCellPairsInSolver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCellPairsTopLevelInSolver" serializeAs="String">
                <value>True</value>
            </setting>
        </LoopDeLoop.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
